@font-face {
  font-family: Norse;
  src: url("assets/Norse-Bold.otf") format("opentype");
}

body {
  height: 100vh;
}

.side-left {
  height: 100%;
  width: 50%;
  background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.side-left__odin {
  font-family: "Norse", sans-serif;
  font-size: 2rem;
  margin-top: 16rem;
  display: flex;
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.479);
  justify-content: center;
  align-items: center;
}

.side-left__odin img {
  height: 8rem;
}

.side-left__odin span {
  font-size: 6.6rem;
}

.side-right {
  font-size: 1.6rem;
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.2fr 1fr 1.2fr;
  /* padding: 4rem 24rem 2rem 3rem; */
}

.side-right__middle{
  background-color: rgb(240, 240, 241);
padding: 16px 0 56px 56px;
}
label,input{
  display:flex;
  flex-direction:column;
}

input{

}

#account{
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.side-right__top{
  line-height: 2.6rem;
  font-size: 2.4rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

